<div class="consultCont">
  <header>
    <h1>Юридична консультація</h1>
  </header>
  <article>
    <p class="intro">Онлайн юридична консультація з загально-правових питань</p>
    <div class="linecont">
      <div class="line"></div>
    </div>
    <p class="intro">Заповніть форму:</p>
    <!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm, myInput)"> -->
    <!-- {{ formData | json }} -->
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="ПІБ"
        name="pib"
        [(ngModel)]="formData.name"
        required
        minlength="2"
      />
      <input
        type="text"
        placeholder="Ваша дата народження"
        name="date"
        [(ngModel)]="formData.bearthday"
        autocomplete="off"
      />
      <!-- {{ spy.className | json }} -->
      <input
        #spy="ngModel"
        autocomplete="off"
        required
        #myInput="ngModel"
        ngModel
        email="true"
        type="email"
        placeholder="Електронна пошта"
        name="email"
        [(ngModel)]="formData.email"
        class="inpEmail"
      />
      <div [hidden]="spy.valid">adfadfadfafd</div>

      <input
        type="text"
        placeholder="Телефон"
        name="phone"
        [(ngModel)]="formData.phone"
        pattern="[0-9]{10}"
      />
      <textarea
        id="text"
        cols="30"
        rows="7"
        placeholder="Повідомлення"
        name="text"
        [(ngModel)]="formData.text"
      ></textarea>
      <button type="submit">Відправити</button>
    </form>
  </article>
</div>
