<div class="consultCont">
  <header>
    <h1>Юридична консультація</h1>
  </header>
  <article>
    <p class="intro">Онлайн юридична консультація з загально-правових питань</p>
    <div class="linecont">
      <div class="line"></div>
    </div>
    <p class="intro">Заповніть форму:</p>
    <form>
      <input type="text" placeholder="ПІБ" />
      <input type="text" placeholder="Ваша дата народження" />
      <input type="text" placeholder="Електронна пошта" />
      <input type="text" placeholder="Телефон" />
      <textarea
        name="message"
        id=""
        cols="30"
        rows="7"
        placeholder="Повідомлення"
      ></textarea>
      <button type="submit">Відправити</button>
    </form>
  </article>
</div>
