<div class="consultCont">
  <header>
    <h1>Юридична консультація</h1>
  </header>
  <article>
    <p class="intro">Онлайн юридична консультація з загально-правових питань</p>
    <div class="linecont">
      <div class="line"></div>
    </div>
    <p class="intro">Заповніть форму:</p>
    <!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm, myInput)"> -->
    <!-- {{ formData | json }} -->
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <input
        #pib="ngModel"
        type="text"
        placeholder="ПІБ"
        name="pib"
        [(ngModel)]="formData.name"
        required
        minlength="2"
      />
      <input
        #age="ngModel"
        required
        type="text"
        placeholder="Рік народження"
        pattern="[1-2][0-9]{3}"
        name="date"
        [(ngModel)]="formData.bearthday"
      />
      <!-- {{ spy.className | json }} -->
      <input
        #email="ngModel"
        autocomplete="off"
        required
        #myInput="ngModel"
        ngModel
        email="true"
        type="email"
        placeholder="Електронна пошта"
        name="email"
        [(ngModel)]="formData.email"
        class="inpEmail"
      />
      <!-- <div [hidden]="spy.valid">adfadfadfafd</div> -->

      <input
        #phone="ngModel"
        required
        type="text"
        placeholder="Телефон"
        name="phone"
        [(ngModel)]="formData.phone"
        pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"
      />
      <textarea
        #text="ngModel"
        required
        id="text"
        cols="30"
        rows="7"
        placeholder="Повідомлення"
        name="text"
        [(ngModel)]="formData.text"
      ></textarea>
      <div class="messageCont">
        <div class="message" [class.messageOn]="this.messagesBar">
          <app-messages></app-messages>
        </div>
        <button
          [disabled]="
            this.messagesBar ||
            !(
              pib.valid &&
              age.valid &&
              email.valid &&
              phone.valid &&
              text.valid
            )
          "
          type="submit"
        >
          Відправити
        </button>
      </div>
    </form>
  </article>
</div>
