.mainCont {
  //   background: radial-gradient(at 50% 70%, #ffffff 10px, rgb(182, 136, 219) 50%);
  //   background: rgb(182, 136, 219);
  //   background: rgb(209, 175, 236);

  background: linear-gradient(
      217deg,
      rgb(113, 80, 141),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(209, 175, 236), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(209, 175, 236), rgba(0, 0, 255, 0) 70.71%);

  color: #ffffff;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 4rem;
    text-shadow: 0 0 2px #ffffff;
  }
  .logoCont {
    height: 40vh;
    margin-top: 1.5rem;
    // margin-bottom: 0rem;
    .logoImg {
      height: 100%;
      max-width: 92vw;
      object-fit: cover;
      margin: 0 auto;
      //   box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 0.897);
      //   background: white;
      //   border: #ffffffb6 solid 2px;
      //   border-radius: 50%;
      //   box-shadow: 0 0 30px 20px white;
      //   display: block;
      //   //   border: hotpink solid 2px;
      //   margin: 0 auto;
      //   height: 100%;
      //   object-fit: cover;
    }
  }
  h2 {
    font-size: 2.5rem;
  }
  .contacts {
    font-size: 2rem;

    .item {
      margin: 0 auto;
      width: 70%;
      display: flex;
      align-items: center;
    }
    .contacts_logo {
      display: inline-block;
      margin: 0.25rem;
      width: 2.25rem;
    }
  }
}

a {
  color: white;
  text-decoration: underline;
}
