<main class="mainCont">
  <h1>Заболотна Оксана Володимірівна</h1>
  <div class="logoCont">
    <img class="logoImg" [src]="imgUrl" alt="logo" />
  </div>
  <h2>Юрист</h2>
  <div class="linecont">
    <div class="line"></div>
  </div>
  <div class="contacts">
    <div class="phone item">
      <img class="contacts_logo" src="./assets/phone.png" alt="phone" />
      <span>(068) 701-85-11</span>
    </div>
    <div class="email item">
      <img class="contacts_logo" src="./assets/email.png" alt="phone" />
      <span>oksanazay@ukr.net</span>
    </div>
    <div class="fb item">
      <img class="contacts_logo" src="./assets/fb.png" alt="fb" />
      <a href="https://www.facebook.com/profile.php?id=100011461871034"
        >Oksana</a
      >
    </div>
  </div>
</main>
