<main class="mainCont">
  <h1>Заболотна Оксана Володимирівна</h1>
  <div class="logoCont">
    <img class="logoImg" [src]="imgUrl" alt="logo" />
  </div>
  <h2>Юрист</h2>
  <div class="linecont">
    <div class="line"></div>
  </div>
  <div class="contacts">
    <div (click)="contactClick('phone')" class="phone item messageCont">
      <div class="message" [class.messageOn]="this.items[0].show">
        <p>{{ this.items[0].message }}</p>
        <!-- <app-messages></app-messages> -->
      </div>
      <img class="contacts_logo" src="./assets/phone.png" alt="phone" />
      <span>(068) 701-85-**</span>
    </div>
    <div (click)="contactClick('email')" class="email item messageCont">
      <div class="message" [class.messageOn]="this.items[1].show">
        <p>{{ this.items[1].message }}</p>
        <!-- <app-messages></app-messages> -->
      </div>
      <img class="contacts_logo" src="./assets/email.png" alt="email" />
      <span>oksana***@ukr.net</span>
    </div>
    <div class="fb item messageCont">
      <img class="contacts_logo" src="./assets/fb.png" alt="fb" />
      <a href="https://www.facebook.com/profile.php?id=100011461871034"
        >Oksana</a
      >
    </div>
  </div>
</main>
