<div class="educExpCont">
  <header>
    <h1>Досвід роботи та освіта</h1>
  </header>
  <div class="linecont">
    <div class="line"></div>
  </div>
  <article *ngIf="this.expData.length">
    <h2>Досвід роботи:</h2>
    <div *ngFor="let item of this.expData" class="place">
      <p>{{ item.date }}</p>
      <h3>{{ item.institution }}</h3>
      <p>{{ item.position }}</p>
    </div>
  </article>
  <div class="linecont">
    <div class="line"></div>
  </div>
  <article *ngIf="this.expData.length">
    <h2>Освіта:</h2>
    <div class="place">
      <p>2000р. – 2005 р.</p>
      <h3>Київський національний економічний університет ім. В.Гетьмана</h3>
      <p>Магістр права;</p>
      <p>
        Додаткові відомості: стажування і навчання в Київському
        науково-дослідному інституті судових експертиз за експертними
        спеціальностями:
      </p>
      <p>2.1 – дослідження реквізитів документів;</p>
      <p>2.3 – дослідження друкарських форм;</p>
    </div>
  </article>
</div>
