<div class="educExpCont">
  <header>
    <h1>Досвід роботи та освіта</h1>
  </header>
  <div class="linecont">
    <div class="line"></div>
  </div>
  <article>
    <h2>Досвід роботи:</h2>
    <div class="place">
      <p>з серпня 2015р.</p>
      <h3>Київський науково-дослідний інститут незалежних експертиз</h3>
      <p>Посада: заступник директора</p>
    </div>
    <div class="place">
      <p>з серпня 2015р.</p>
      <h3>Київський науково-дослідний інститут незалежних експертиз</h3>
      <p>Посада: заступник директора</p>
    </div>
  </article>
</div>
