/* You can add global styles to this file, and also import other style files */
@import "./nullstyle.scss";

html {
  font-family: "PT Sans", sans-serif;
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
}
